section.section__block.company.section#about
  .g-wrapper
    .section__title О компании
    .section__text.section__text_margin.company__text Наша биржа создана для детей и молодежи, готовых к труду.
    .section__text.section__text_margin.company__text Биржа труда для детей и молодежи – это общественное движение и не является коммерческой организацией!
    .section__text.section__text_margin.company__text Наша цель – привить любовь к труду у подрастающего поколения, тем самым предоставить возможность получить первый трудовой опыт, участвуя в общественно-полезной деятельности.