footer.footer
  .g-wrapper
    .footer__content
      .footer__bottom
        .footer__bottom_string
          .footer__bottom_left
            a.footer__bottom_link.politic__open Политика конфиденциальности
          .footer__bottom_right
            a(href="#").footer__socials
              include ../../images/vk.svg
            a(href="#").footer__socials
              include ../../images/inst.svg
            a(href="#").footer__socials
              include ../../images/facebook.svg
            a(href="#").footer__socials
              include ../../images/twitter.svg
        .footer__bottom_descript
          .footer__text.footer__text_bottom © 2019. Все права защищены
