.DoubleSlider#gallery
  .DoubleSlider__slider1.swiper-container
    .swiper-wrapper
      a(href="../../images/gallery/gallery-1.jpg").swiper-slide: img(src="../../images/gallery/gallery-1.jpg")
      a(href="../../images/gallery/gallery-2.jpg").swiper-slide: img(src="../../images/gallery/gallery-2.jpg")
      a(href="../../images/gallery/gallery-3.jpg").swiper-slide: img(src="../../images/gallery/gallery-3.jpg")
      a(href="../../images/gallery/gallery-4.jpg").swiper-slide: img(src="../../images/gallery/gallery-4.jpg")
      a(href="../../images/gallery/gallery-15.jpg").swiper-slide: img(src="../../images/gallery/gallery-15.jpg")
      a(href="../../images/gallery/gallery-14.jpg").swiper-slide: img(src="../../images/gallery/gallery-14.jpg")
      a(href="../../images/gallery/gallery-13.jpg").swiper-slide: img(src="../../images/gallery/gallery-13.jpg")
      a(href="../../images/gallery/gallery-12.jpg").swiper-slide: img(src="../../images/gallery/gallery-12.jpg")
  .DoubleSlider__slider2.swiper-container
    .swiper-wrapper
      a(href="../../images/gallery/gallery-5.jpg").swiper-slide: img(src="../../images/gallery/gallery-5.jpg")
      a(href="../../images/gallery/gallery-6.jpg").swiper-slide: img(src="../../images/gallery/gallery-6.jpg")
      a(href="../../images/gallery/gallery-7.jpg").swiper-slide: img(src="../../images/gallery/gallery-7.jpg")
      a(href="../../images/gallery/gallery-8.jpg").swiper-slide: img(src="../../images/gallery/gallery-8.jpg")
      a(href="../../images/gallery/gallery-9.jpg").swiper-slide: img(src="../../images/gallery/gallery-9.jpg")
      a(href="../../images/gallery/gallery-10.jpg").swiper-slide: img(src="../../images/gallery/gallery-10.jpg")
      a(href="../../images/gallery/gallery-11.jpg").swiper-slide: img(src="../../images/gallery/gallery-11.jpg")


