.DoubleSlider#gallery
  .DoubleSlider__slider1.swiper-container
    .swiper-wrapper
      a(href="../../images/mainSlider-1.jpg").swiper-slide: img(src="../../images/mainSlider-1.jpg")
      a(href="../../images/mainSlider-1.jpg").swiper-slide: img(src="../../images/mainSlider-1.jpg")
      a(href="../../images/mainSlider-1.jpg").swiper-slide: img(src="../../images/mainSlider-1.jpg")
      a(href="../../images/mainSlider-1.jpg").swiper-slide: img(src="../../images/mainSlider-1.jpg")
      a(href="../../images/mainSlider-1.jpg").swiper-slide: img(src="../../images/mainSlider-1.jpg")
      a(href="../../images/mainSlider-1.jpg").swiper-slide: img(src="../../images/mainSlider-1.jpg")
      a(href="../../images/mainSlider-1.jpg").swiper-slide: img(src="../../images/mainSlider-1.jpg")
      a(href="../../images/mainSlider-1.jpg").swiper-slide: img(src="../../images/mainSlider-1.jpg")
  .DoubleSlider__slider2.swiper-container
    .swiper-wrapper
      a(href="../../images/mainSlider-1.jpg").swiper-slide: img(src="../../images/mainSlider-1.jpg")
      a(href="../../images/mainSlider-1.jpg").swiper-slide: img(src="../../images/mainSlider-1.jpg")
      a(href="../../images/mainSlider-1.jpg").swiper-slide: img(src="../../images/mainSlider-1.jpg")
      a(href="../../images/mainSlider-1.jpg").swiper-slide: img(src="../../images/mainSlider-1.jpg")
      a(href="../../images/mainSlider-1.jpg").swiper-slide: img(src="../../images/mainSlider-1.jpg")
      a(href="../../images/mainSlider-1.jpg").swiper-slide: img(src="../../images/mainSlider-1.jpg")
      a(href="../../images/mainSlider-1.jpg").swiper-slide: img(src="../../images/mainSlider-1.jpg")


