header.header
  .g-wrapper
    .header__container
      a(href="#wrapper").header__link
        img(src="./images/logo.png").header__logo
        .header__title для детей и молодежи
      nav.header__nav
        li.header__li
          a(href="#about") О компании
        li.header__li
          a(href="#vac") Вакансии
        li.header__li
          a(href="#questions") Вопросы и ответы
        li.header__li
          a(href="#gallery") Галерея        
        .header__contact
          a(href="tel:+8(383)2238809").header__tel 8 (383) <span>223-88-09</span>
          .header__callback Заказать звонок
        .header__close
      .mobile__nav
        .mobile__menu
          img(src="./images/mob-menu.svg")
      .header__contact
        a(href="tel:+8(383)2238809").header__tel 8 (383) <span>223-88-09</span>
        .header__callback Заказать звонок
