.mainSlider
  .swiper-container
    .swiper-wrapper 
      .swiper-slide 
        img(src="../images/mainSlider-1.jpg").mainSlider__img
      .swiper-slide 
        img(src="../images/mainSlider-2.jpg").mainSlider__img
      .swiper-slide 
        img(src="../images/mainSlider-3.jpeg").mainSlider__img
      .swiper-slide 
        img(src="../images/mainSlider-4.jpg").mainSlider__img
    .mainSlider.swiper-button-prev
      include ../../images/arrow-left.svg
    .mainSlider.swiper-button-next
      include ../../images/arrow-right.svg