section.section__block#questions
  .g-wrapper
    .section__heading Вопросы и ответы 
    .questions__wrapper
      .questions__item 
        .questions__question <span>Вопрос:</span> Можно ли устроиться на работу в 14 лет?
        .questions__answer <span>Ответ:</span> Согласно действующему законодательству, подписать трудовой контракт с подростком, которому исполнилось 14 лет возможно, но только для выполнения несложной работы в свободное от обучения время, но с согласия одного из родителей и органов опеки.
      .questions__item 
        .questions__question <span>Вопрос:</span> Какую работу можно выполнять в 14 лет?
        .questions__answer <span>Ответ:</span> Такая работа должна включать в себя четыре обязательных критерия:
          li Она должна быть легкой;
          li Работа должна осуществляться в свободное от учебы время;
          li Работа не должна быть по времени в ущерб для образовательной программы;
          li Работа не должна быть опасной для здоровья.
      .questions__item 
        .questions__question <span>Вопрос:</span> Сколько часов в день можно работать несовершеннолетнему?
        .questions__answer <span>Ответ:</span> 
          li для лиц, не достигших 16-летнего возраста – не более 24 часов в неделю;
          li для лиц, достигших 16-летнего возраста – не более 35 часов в неделю.
    form.contacts__form
      .section__title.questions__title Задать вопрос
      .contacts__form_string
        .contacts__form_item
          input(type="text" name="name" required).contacts__form_input
          label.contacts__form_label Ваше имя
        .contacts__form_item
          input(type="email" name="email" required).contacts__form_input
          label.contacts__form_label Ваш email
      .contacts__form_item
        input(type="text" name="text" required).contacts__form_input
        label.contacts__form_label Ваше сообщение
      .contacts__form_offer
        label
          input(type="checkbox").contacts__form_checkbox
          span
        .contacts__form_offer_inner Я принимаю <a class="politic__open">соглашение сайта</a> об обработке персональных данных
      .contacts__form_footer
        button(type="submit").button Отправить сообщение 