section.section.section__block.section__background#vac
  .g-wrapper
    .section__title Актуальные вакансии
    .vac__items
      .cube 
        .active-state 
          h2 Описание вакансии 
          p В молодой и дружный коллектив требуются мойщики машин. Оплата ежедневно 
        .default-state 
          h1 Мойщики машин
      .cube 
        .active-state 
          h2 Описание вакансии 
          p Прием товара (канцелярские принадлежности), упаковка товара. <br/> Участие в инвентаризации 
        .default-state 
          h1 Комплектовщики на склад
      .cube 
        .active-state 
          h2 Описание вакансии 
          p раздача листовок в разных районах города 
        .default-state 
          h1 Промоутеры