extends layouts/_main.pug

block content
  include blocks/_header.pug
  include blocks/_mainSlider.pug
  include blocks/_about.pug
  include blocks/_vac.pug
  include blocks/_gallery.pug
  include blocks/_footer.pug