@import './_fonts.styl'
@import './_global.styl'

@import '/blocks/_header.styl'
@import '/blocks/_mainSlider.styl'
@import '/blocks/_about.styl'
@import '/blocks/_vac.styl'
@import '/blocks/_questions.styl'
@import '/blocks/_gallery.styl'
@import '/blocks/_contacts.styl'
@import '/blocks/_footer.styl'
@import '/blocks/_call.styl'
@import '/blocks/_mob-menu.styl'
@import '/blocks/_mobile.styl'